.center {
}
.header {
  font-size: 45px;
}
.regler {
  position: fixed;
  top: 400px;
  right: 0;
  font-size: 20px;
}
.font {
  color: orange;
  font-style: normal;
  font-family: monospace;
  font-size: 16px;
  font-style: italic;
}
.img {
  justify-content: center;
  margin: 0 auto;
}
.dealer {
  display: inline-block;
}
.spiller {
  display: inline-block;
}
.size {
  font-size: 150%;
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  border: 7px solid #73ad21;
  background-color: darkgreen;
}
.fixed2 {
  position: fixed;
  top: 180px;
  right: 0;
  width: 400px;
  border: 7px solid #73ad21;
  background-color: darkgreen;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.box {
  padding: 10px 20px;
}
